# Gradle release example

Automatic generation of gradle release example changelog.

{{#tags}}
## {{name}}
 {{#issues}}
  {{#hasIssue}}

#### GitHub {{issue}} {{title}} {{#hasLabels}} {{#labels}} *{{.}}* {{/labels}} {{/hasLabels}}
  {{/hasIssue}}
  {{^hasIssue}}
#### GitHub
  {{/hasIssue}}

  {{#commits}}
**{{{messageTitle}}}**

{{#messageBodyItems}}
 * {{.}} 
{{/messageBodyItems}}

[{{hash}}](https://github.com/carloscaverobarca/gradle-release-example/commit/{{hash}}) {{authorName}} *{{commitTime}}*

  {{/commits}}

 {{/issues}}
{{/tags}}
